**
!docker/
!docker/Dockerfile.qn
!integration/
!integration/**
!upstream/
!upstream/Fossen/
!upstream/Fossen/LICENSE
!upstream/Fossen/src/
!upstream/Fossen/src/**
**/__pycache__/
**/.pytest_cache/
**/build/
**/*.egg-info/
