build/
devel/
install/
.vscode/
.pytest_cache/
__pycache__/
*.pyc

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/trajectories/*
!data/trajectories/.gitkeep
data/odometry/*
!data/odometry/.gitkeep
data/results/*
!data/results/.gitkeep
data/plots/*
!data/plots/.gitkeep
data/manifests/*
!data/manifests/.gitkeep
experiments/*
!experiments/README.md
