<launch>
  <!-- Single member handover qualification in the existing three-AAV world.
       The other members remain physically present; no qn instance restarts. -->
  <arg name="output_dir" default="/experiments/current"/>
  <include file="$(find qn_aav_simulator)/launch/formation_aav3.launch">
    <arg name="planner_speed" value="0.35"/>
    <arg name="record" value="false"/>
    <arg name="output_dir" value="$(arg output_dir)"/>
  </include>
  <param name="drone_0_ego_planner_node/fsm/reference_handover_enabled" value="true"/>
  <param name="drone_0_qn_aav/enable_platform_action" value="true"/>
  <param name="drone_0_qn_aav/reference_handover_enabled" value="true"/>
  <param name="drone_0_qn_aav/qualification_only" value="true"/>
  <param name="drone_0_qn_aav/world_frame" value="world"/>
  <param name="drone_0_qn_aav/water_guidance_mode" value="LOS_VELOCITY_REFERENCE"/>
  <param name="drone_0_qn_aav/water_horizontal_controller_mode" value="LOS_SURGE_YAW"/>
  <node pkg="rosbag" type="record" name="handover_recorder"
    args="-O $(arg output_dir)/handover.bag --buffsize=256 --regex /aav_(1|2|3|formation)/formation_action/.*|/drone_0_qn_aav/platform_task/.*|/drone_[0-2]_qn/(odometry|used_reference_pose|used_reference_twist|diagnostics|medium_flag)|/drone_0_planning/(trajectory|pos_cmd|safety_status)|/drone_0_(member|formation)_goal"/>
</launch>
